.nav {
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: var(--sidebar);
    border-bottom: 1px solid var(--accents-7);
    height: var(--navbar-height);
    z-index: 2;
    width: 100%;
    position: sticky;
}



.navbar-logos {
    max-width: 200px;
    display: flex;
    align-items: center;
    margin: var(--space-2x) var(--space-4x);
}

.tabs {
  height: 100%;
  display: initial;
}
  
  @media screen and (max-width: 770px) {  
    .tabs {
        display: none;
    }
  }
  
  @media screen and (min-width: 1032px) {

  
    .tabs > a:nth-child(2),
    .tabs > a:nth-child(3),
    .tabs > a:nth-child(4) {
      display: inline-flex;
    }
  }
  
  .tab {
    text-transform: uppercase;
    padding: var(--space-4x);
    font-size: 14px;    
    color: var(--secondary-color);
    font-weight: 700;
    height: 100%;

    letter-spacing: -0.05em;
    display: inline-flex;
    align-items: center;
    cursor: pointer;
  }
  
  .tab:hover,
  .tab:focus,
  .tab:active {
    color: #fff;
  }
  
  .tab-active {
    color: #fff;
    background: linear-gradient(90deg, var(--brand), var(--brand)) left bottom transparent no-repeat;
    background-size: 100% 1px;
  }
  
  .logo {
    display: flex;
    width: 40px;
  }
  
  .gear {
    display: flex;
    width: 40px;
  }
  
  .gear svg:hover {
    transform: rotate(-10deg);
  }
  