.pageContainer {
    display: flex;
    flex-direction: column;
    min-height: calc(100vh - var(--navbar-height) - var(--footer-height));
    justify-content: center;
    align-items: center;
    text-align: center;
    animation: fadeIn 1s both
}

@keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
}
