.form {
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 24px;
    padding: 0 var(--space-4x);
  }
  
  @media (min-width: 1200px) {
    .form.share-page {
      justify-content: flex-start;
    }
  }

  .selects {
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
  }
  
  @media (min-width: 1200px) {
    .form-row {
      margin: 0;
    }
  }

  .select {
    width: min-content;
    min-width: 250px;
    margin: 1rem 1rem;
  }