.form {
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 24px;
    padding: 0 var(--space-4x);
  }
  
  @media (min-width: 1200px) {
    .form.share-page {
      justify-content: flex-start;
    }
  }

  .selects {
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
  }

  .input-label {
    margin: auto;
    width: 350px;
    background-color: var(--gray);
    border-radius: var(--space-2x);
    border: 1px solid transparent;
    transition: border-color 0.2s ease, background-color 0.2s ease;
    display: block;
    margin-bottom: 1rem;
  }
  
  .input-label.focused {
    background-color: #33373c;
  }

  .input {
    border: none;
    width: 250px;
    background: transparent;
    outline: none;
    height: 56px;
    padding-left: 15px;
    padding-right: 15px;
    font-size: var(--text-md);
    color: #fff;
    font-family: inherit;
  }
  
  @media (min-width: 768px) {
    .input {
      width: 250px;
    }
  }
  
  
  @media (min-width: 1200px) {
    .form-row {
      margin: 0;
    }
  
    .submit.generate-with-github {
      width: 240px;
    }
  }

  .select {
    min-width: 200px;
    margin: 1rem 1rem;
  }