.form {
    display: flex;
    justify-content: center;
    margin-bottom: 24px;
    padding: 0 var(--space-4x);
  }
  
  @media (min-width: 1200px) {
    .form.share-page {
      justify-content: flex-start;
    }
  }
  
  .input {
    border: none;
    width: 100%;
    background: var(--sidebar);
    outline: none;
    height: 56px;
    padding-left: 15px;
    padding-right: 15px;
    font-size: var(--text-md);
    color: #fff;
    font-family: inherit;
  }
  
  @media (min-width: 768px) {
    .input {
      width: 100%;
      padding-right: 0;
    }
  }
  
  
  @media (min-width: 1200px) {
    .form-row {
      margin: 0;
    }
  
    .submit.generate-with-github {
      width: 240px;
    }
  }

  .select {
    margin: 1rem 0;
  }