.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 24px;
    align-self: center;
    position: relative;
    max-width: 200px;
    margin: 1rem;
    background-color: var(--sidebar);
  }

.main p {
  margin: 0.2rem 0;
}

.close {
  display: flex;
  align-self: flex-end;
  padding: 0.3rem;
}

.close:hover {
  cursor: pointer;
  transform: scale(1.1);
}
  
  .input {
    border: none;
    width: 100%;
    background: transparent;
    outline: none;
    height: 56px;
    padding-left: 15px;
    padding-right: 15px;
    font-size: var(--text-md);
    color: #fff;
    font-family: inherit;
  }
  
  
  .input::placeholder {
    color: var(--secondary-color);
  }
  
  .input-label {
    background-color: var(--accents-8);
    border-radius: var(--space-2x);
    border: 1px solid var(--gray);
    transition: border-color 0.2s ease;
    display: block;
    margin-bottom: 1rem;
  }
  
  .input-label.focused {
    border: 1px solid var(--brand);
  }
  
  .input-label.error {
    background: red;
  }
  
  .input-label.success {
    background: #0070f3;
  }
  
  .input-text {
    display: flex;
    align-items: center;
    width: 100%;
  }
