.container {
  padding: var(--space-4x);
  display: flex;
  flex-direction: column;
}

.imagesContainer {
  display: flex;
  min-width: 300px;
  margin-right: 2rem;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.imagesContainer img {
  border: 1px solid var(--brand);
  box-shadow: 0 0 10px var(--green), 0 0 5px var(--brand);  
}

.speaker-details {
  padding: var(--space-4x) 0;
  display: flex;
  flex-direction: column;
  flex: unset;
}

.info {
  margin-top: var(--space-8x);
  margin-left: var(--space-4x);
  margin-right: var(--space-4x);
  padding: 0 var(--space-4x);
  max-width: 800px;
}

.bio {
  color: var(--accents-2);
  max-width: 800px;
  margin: 0 0;
}

.image {
  border-radius: var(--space-2x);
}

@media (min-width: 768px) {
  .container {
    flex-direction: row;
    padding: var(--space-8x);
  }

  .backlink {
    padding: var(--space-8x);
    padding-bottom: 0;
  }

  .speaker-details {
    padding: 0;
    padding-left: var(--space-8x);
  }

  .talk-details {
    padding-left: var(--space-8x);
    color: var(--accents-2);
  }

  .image {
    max-width: 300px;
    max-height: 400px;
  }
}

.name {
  font-weight: 800;
  color: #fff;
  font-size: 56px;
  margin: 0;
  line-height: 1.2;
}

.edition {
  color: var(--brand);
  font-size: 2.2rem;
}

.company {
  color: #fff;
}

.company:hover {
  color: #fff;
}

.title {
  margin-top: 0;
  margin-bottom: 24px;
  font-size: 20px;
}

.bio-header {
  font-size: 30px;
  letter-spacing: -0.05em;
  color: #fff;
}

.warning-header {
  display: flex;
  font-size: 24px;
  letter-spacing: -0.05em;
  color: #fff;
  margin-bottom: var(--space-4x);
  align-items: center;
}

.disabled {
  cursor: not-allowed;
}

#size {
  width: 4rem;
  margin: 0.35rem 0.35rem;
  border-radius: var(--space-2x);
  border: 1px solid var(--brand);
  background: black;
  color: var(--brand);
  cursor: pointer;
  font-family: inherit;
  font-size: var(--text-md);
  letter-spacing: -0.02em;
  outline: none;
  font-weight: 500;
  transition: background-color 0.2s ease, color 0.2s ease;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

#size:hover,
#size:focus {
  background: var(--brand);
  color: white;
}