.userInput {
  display: inline-flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 1rem;
}

.notFoundMessage {
  margin: auto;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  justify-content: center;
  font-size: 1.3rem;
  align-items: center;
  text-align: center;
}

.table {
  margin: 1rem;
  line-height: 2.7;
  border-collapse: collapse;
  align-self: center;
  line-height: normal;
  border-spacing: 0;
}

.table td {
  padding: 1rem;
}

.tHead {
  background-color: var(--sidebar);
  font-size: 1.2rem;
}

.tHead tr {
  border-bottom: 2px solid var(--brand);
}

.selected {
  box-shadow: 0 0 5px 1px var(--brand);
}

.allActionsContainer {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  align-self: center;
  justify-content: center;
  margin-top: 3rem;
}

.actionsContainer {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  align-self: center;
}

.actionDisabled {
  margin: 0.3rem 1rem;
}

.action svg{
  margin: 0.3rem 0.75rem;
}

.action svg:hover {
  cursor: pointer;
  transform: scale(1.05);
}

.link {
  cursor: pointer;
  color: white;
}

.link:hover {
  color: var(--brand);
}

.snkrLink {
  display: flex;
  align-items: center;
  color: white;
}

.snkrLink:hover {
  color: var(--brand);
}