.table {
  margin: 1rem;
  line-height: 2.7;
  border-collapse: collapse;
  align-self: center;
  line-height: normal;
}

.table td {
  padding: 1rem;
}

.tHead {
  background-color: var(--sidebar);
  font-size: 1.2rem;
}

.tHead tr {
  border-bottom: 2px solid var(--brand);
}

.selected {
  border: 1px solid var(--brand);
}

.actionDisabled {
  margin: 0.3rem 1rem;
}

.action svg{
  margin: 0.3rem 1rem;
}

.action svg:hover {
  cursor: pointer;
  transform: scale(1.05);
}

.link {
  cursor: pointer;
  color: white;
}

.link:hover {
  color: var(--brand);
}

.snkrLink {
  display: flex;
  align-items: center;
  color: white;
}

.snkrLink:hover {
  color: var(--brand);
}