.ticket-visual {
  position: relative;
  border-radius: var(--space-4x);
  overflow: hidden;
  width: 330px;
  margin: 0 auto;
}

.ticket-visual:before,
.ticket-visual:after {
  content: '';
  display: block;
  width: 72px;
  height: 58px;
  background-color: black;
  position: absolute;
  z-index: 100;
  border-radius: 50%;
}

.ticket-visual:before {
  left: 50%;
  top: -7.5%;
  transform: translateZ(0) translateX(-50%) rotate(90deg);
}

.ticket-visual:after {
  left: 50%;
  bottom: -7.5%;
  transform: translateZ(0) translateX(-50%) rotate(90deg);
}

@media (min-width: 768px) {
  .ticket-visual {
    width: 650px;
  }

  .ticket-visual:before {
    top: 50%;
    left: -7%;
    transform: translateZ(0) translateY(-50%);
  }

  .ticket-visual:after {
    top: 50%;
    left: 96%;
    transform: translateZ(0) translateY(-50%);
  }
}

.visual {
  position: relative;
  transform: translateZ(0);
}

.horizontal-ticket {
  display: none;
}

.vertical-ticket {
  display: flex;
}

@media (min-width: 768px) {
  .horizontal-ticket {
    display: flex;
  }

  .vertical-ticket {
    display: none;
  }
}

.profile {
  z-index: 1;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  padding: 46px 29px;
}

@media (min-width: 768px) {
  .profile {
    padding: calc(44px * var(--size)) calc(160px * var(--size)) calc(44px * var(--size))
      calc(63px * var(--size));
  }
}

.info {
  z-index: 1;
  position: absolute;
  top: calc(120px * var(--size));
  width: 100%;
  height: 100%;
  padding: calc(46px * var(--size)) calc(29px * var(--size));
}

@media (min-width: 768px) {
  .info {
    top: calc(140px * var(--size));
    padding: calc(44px * var(--size)) calc(160px * var(--size)) calc(44px * var(--size))
      calc(63px * var(--size));
  }
}

.ticket-code-wrapper {
  position: absolute;
  bottom: 55px;
  right: 0;
}

@media (min-width: 768px) {
  .ticket-code-wrapper {
    bottom: 0;
  }
}

.ticket-code {
  font-weight: 200;
  margin: auto;
  font-size: 1.2rem;
  line-height: 1;
  width: calc(330px * var(--size));
  text-align: center;
}

@media (min-width: 768px) {
  .ticket-code {
    transform: rotate(90deg) translateY(calc(100px * var(--size)));
    transform-origin: bottom right;
  }
}
